{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'favicon.ico' %}" />
    <link rel="icon" type="image/png" href=""/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>
        {% if name %}{{name}}{% endif %} 
        {% if sys.country %}{{sys.country}} {% endif %} 
        {% if main.temp %} | {{main.temp}}°C{% endif %}
        
    </title>

    <!-- CSS Styling -->
    {% block styles %} {% endblock %}
</head>
<body>
    <!-- Navbar -->
    {% include 'header.html' %}

    <!-- Main content of the page -->
    {% block content %} {% endblock %}

    <!-- Footer import -->
    {% include 'footer.html' %}

</body>
</html>