/* styling for the main weather data display */

#interface {
    display: flex;
    flex-flow: wrap;
    padding-bottom: 90px;
}

#interface > * {
    flex: auto;
    padding: 1.5em 3em;
}

/* on smaller screens, use flex wrap and stretch */
/* on larger screens, don't stretch info */
@media screen and (min-width: 1200px) {
    #interface > * { 
        flex: none;
    }
}

#weather-data {
    color: white;
    font-weight: 500;
}

#weather-data-location {
    color: black;
    margin-bottom: 1em;            
}

#weather-data-location {
    font-weight: 300;
}

#weather-data-temperature div {
    display: flex;
    font-size: 3em;
}

#weather-data-temperature div p:last-child{
    font-size: 0.7em;
    padding-top: 3px;
}

#weather-specifics {
    display: grid;
    grid-template-columns: 170px 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    margin-top: 9px;
}

#weather-specifics p:nth-child(odd) {
    color: rgb(0, 0, 0, 0.6)
}

#weather-form {
    display: flex;
    flex-direction: column;
}

#weather-form label {
    color: rgba(0, 0, 0, 0.7);
}

/* arrow from - https://stackoverflow.com/questions/56593500/change-the-dropdown-arrow-design */
#weather-form select{
    appearance: none;
    margin-top: 1em;
    border: 0;
    outline: 0;
    padding: 5px;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

/* styling for the weather background depending on types - make sure you add logic in view.py*/
.fine {
    background: rgb(65,174,255);
    background: linear-gradient(124deg, rgba(65,174,255,1) 35%, rgba(39,105,227,1) 100%);
}

.rain {
    background: rgb(83,120,158);
    background: linear-gradient(129deg, rgba(83,120,158,1) 35%, rgba(146,186,210,1) 100%);
}

.night {
    background: rgb(92,84,164);
    background: linear-gradient(124deg, rgba(92,84,164,1) 35%, rgba(12,20,69,1) 100%);
}
